[submodule "projects/tks-exercise-tracker"]
	path = projects/tks-exercise-tracker
	url = git@github.com:OZahnitko/tks-exercise-tracker.git
[submodule "packages/tks-component-library"]
	path = packages/tks-component-library
	url = git@github.com:OZahnitko/tks-component-library.git
[submodule "projects/tks-game-guides"]
	path = projects/tks-game-guides
	url = git@github.com:OZahnitko/tks-game-guides.git
[submodule "projects/tks-game-library-manager"]
	path = projects/tks-game-library-manager
	url = git@github.com:OZahnitko/tks-game-library-manager.git
